#sidebar {
    padding-bottom: 20px;
    background: var(--preto-medio);
    color: var(--cinza-claro);
    transition: all 0.3s;

    @media screen and (max-width:1366px) {
        min-width: 0;
        max-width: 0;

        &.active {
            padding-top: 1rem;
            min-width: 329px;
            max-width: 329px;
            text-align: left;
            z-index: 9999;

            .sidebar-header {
                width: 100%;

            }

            li {
                &.titles {
                    display: block;
                }

                a {
                    padding: 10px
                }


            }

            // ul.profile {
            //     position: absolute;
            //     bottom: 0;
            // }


        }
    }

    @media screen and (min-width:1367px) {
        padding-top: 56px;
        min-width: 329px;
        max-width: 329px;
    }

    .sidebar-header {
        padding-bottom: 1rem;
        display: inline-flex;
        align-items: center;

        img.iconDesactive {
            @media screen and (min-width:1024px) {
                width: 100%;
            }
        }
    }

    ul.components {
        padding: 20px 0;
        // border-bottom: 1px solid #151515;

        a {
            padding: 10px;
            font-size: 1.1rem;
            display: block;
            color: var(--cinza-claro);
            transition: all .3s ease;

            &.active {
                // stroke: var(--laranja);
                color: var(--laranja);
                border: solid 1px;
                border-radius: 12px;

                svg {
                    // stroke: var(--laranja);
                    // fill: var(--laranja);
                }

            }

            &:hover {
                text-decoration: none;
                color: var(--laranja);
            }
        }

        .titles {
            padding: 10px;
            font-size: 14px;
            display: block;
            color: var(--cinza-medio);
            text-transform: uppercase;
        }

        svg {
            margin-right: .5rem;

            @media screen and (min-width:1025px) {
                // margin-right: .5rem;
            }

        }
    }
}

#sidebar.active {

    // text-align: center;

    @media screen and (min-width:1366px) {
        min-width: 80px;
        max-width: 80px;

        .sidebar-header {
            padding-bottom: 1rem;
            display: block;
            margin: auto;
        }

        .sidebar-header strong {
            display: block;
            text-align: center;

            div {
                margin: auto;
            }

        }

        ul.components li a span {
            display: none;
        }

        li.titles {
            display: none;
        }

        li {
            text-align: center;

            a {
                padding: 10px 0;

                &.active {
                    border: none;
                }
            }
        }

        svg {

            @media screen and (min-width:1025px) {
                margin-right: 0rem !important;
            }

        }
    }
}

#sidebarCollapse {
    background: transparent;
    color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
}